@model eCommerce.Models.Product

@{
    ViewBag.Title = "ByProduct";
}

<h2>@Model.Supplier.Name @Model.Name</h2>

<fieldset>
    <legend>Product</legend>

    <div class="main">
    <div class="masterText">
    <div class="productTitle">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
        </div>
    <div class="display-field name">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="productTitle">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
        </div>
    <div class="display-field description">
        @Html.DisplayFor(model => model.Description)
    </div>
    </div>
    <br />

    <div class="master">
    <div class="imgContainer">
    <div class="productImg">
        @if(Model.Images.Any()) {
            <img class="productImg" src="@Model.Images.First().ImageURL" />
            }
    </div>
        <br />
        <div class="thumbnail">
            @foreach (var image in Model.Images)
            {
                    <img class="thumbnail" src="@image.ImageURL" />
            }
        </div>
        </div>

    <div class="cart">
    <div class="ourPrice">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UnitPrice)
        </div>
    </div>
    <div class="normalPrice">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ListPrice)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ListPrice)
        </div>
    </div>

    @using (Html.BeginForm("Add", "Cart", FormMethod.Post)) {
    <div class="stock">
        <label for="Qty">Qty:</label>
    <select id="Qty" name="Qty">
        @for (int i = 1; i <= 10; i++)
        {
            <option>@i</option>
        }
        </select>
        </div>
        <div class="button" data-id="@Model.ProductID">
        <input type="submit" value="Add to Cart" />
            @Html.Hidden("ProductID", Model.ProductID)
            @Html.Hidden("UnitPrice", Model.UnitPrice)
        </div>
        }
        </div>
        </div>
    </div>
</fieldset>

