@model IEnumerable<eCommerce.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<table>

@foreach (var item in Model) {
        <td>
            @Html.DisplayFor(modelItem => item.CatergoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
}

</table>
