@model eCommerce.Models.OrderLine

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrderLine</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Qty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
