@model IEnumerable<eCommerce.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2></h2>
            </hgroup>
            <p>
               Welcome to T's Snowboard Emporium! We hope you find all the gear you need here at a great discount! Pardon our mess, we are 
                currently undergoing further site construction!
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
@foreach(var product in Model)
{
    <div class="product">
        <div>
            @if(product.Images.Any()) {
            <img src="@product.Images.First().ImageURL" />
            }
        </div>
        <div>
           <a href="@Url.Action("ByProduct", "Shop", new { id=product.ProductID})">
               @product.Name
               </a> 
            <br />
            Was @product.ListPrice.ToString("c") Now @product.UnitPrice.ToString("c")
            A savings of @((product.ListPrice - product.UnitPrice).ToString("c"))
        </div>
    </div>
}