@model IEnumerable<eCommerce.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
@foreach(var product in Model)
{
    <div class="product">
        <div>
            @if(product.Images.Any()) {
            <img src="@product.Images.First().ImageURL" />
            }
        </div>
        <div>
           <a href="@Url.Action("ByProduct", "Shop", new { id=product.ProductID})">
               @product.Name
               </a> 
            <br />
            Was @product.ListPrice.ToString("c") Now @product.UnitPrice.ToString("c")
            A savings of @((product.ListPrice - product.UnitPrice).ToString("c"))
        </div>
    </div>
}